@model KioskoFacturacion.Web.Models.Producto
@{
    ViewData["Title"] = "Nuevo Producto";
}
<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<br>
<form asp-action="Alta" method="post">
    <div class="form-custom">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Nombre" class="label-control"></label>
                <input asp-for="Nombre" class="form-control" autofocus />
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger"})
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.Label("Marca") <button type="submit" class="btn btn-sm" formaction="CrearMarca"
                    value="MarcaNueva">
                    <img src="~/assets/add.png" alt="Crear Marca" width="10" height="10"></button>
                @Html.DropDownList("MarcaID", ViewBag.marcasList, "Elegir la marca", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MarcaID, "", new { @class = "text-danger"})
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Codigo" class="label-control"></label>
                <input asp-for="Codigo" class="form-control" />
                @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger"})
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.DisplayNameFor(model => model.Estado)
            </div>
            <div class="form-group col-md-3">
                <select asp-for="Estado" class="form-control">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
            </div>
        </div>
        @*<div class="form-row">
            <div class="form-group col-md-6">
            <label asp-for="Vencimiento" class="control-label"></label>
            <input asp-for="Vencimiento" class="form-control" id="vencimiento">
            </div>
            <div class="form-check">
            <label asp-for="NoVence" class="control-label"></label>
            <input asp-for="NoVence" class="form-control" id="novence">
            </div>
            </div>*@
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="PrecioCosto" class="control-label"></label>
                <input type="number" asp-for="PrecioCosto" step="0.01" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <label asp-for="PrecioVenta" class="control-label"></label>
                <input type="number" asp-for="PrecioVenta" step="1" class="form-control">
            </div>
        </div>
    </div>
    <hr>
    <span style="display: inline;">
        <button type="submit" class="custom-btn custom-success">Guardar</button>
        <a href='javascript:history.go(-1)'><button type="button" class="custom-btn custom-warning">Atrás</button></a>
    </span>
</form>

@*
    @section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
    $("#novence").click(function () {
    if ($(this).is(":checked")) {
    $("#vencimiento").attr("disabled", true);
    $("#vencimiento").val('');
    }
    else
    $("#vencimiento").attr("disabled", false);
    });
    });
    </script>
    }*@