@model IEnumerable<Producto>
@{
    ViewData["Title"] = "Eliminar Productos";
}

<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<h3>¿Está seguro de eliminar el siguiente lote de productos?</h3>
@{
    Html.BeginForm("BatchConfirmed", "Productos", FormMethod.Post, new { name = "tableForm" });
}
<table class="table table-sm table-hover col-auto">
    <thead>
        <tr>
            <th style="font-weight: normal;">
                <input type="checkbox" onClick="toggle(this)" checked />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca.Rubro)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="deleteInputs" value="@item.ID" checked />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca.Rubro.Nombre)
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    Html.EndForm();
}
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-1" role="group" aria-label="First group">
        <a href="javascript:(function(){document.tableForm.submit();return void(0);})()">
            <button style="display:inline-block" class="custom-btn custom-danger"
                onclick="return confirm('¿Está seguro de eliminar este lote de productos?\r\nEs una acción irreversible.')">Borrar
                selección</button>
        </a>
    </div>
    <div class="btn-group" role="group" aria-label="Second group">
        <a href='javascript:history.go(-1)'><button type="button" class="custom-btn custom-warning">Atrás</button></a>
    </div>
</div>

<script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('deleteInputs');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>
