@model KioskoFacturacion.Web.Models.Producto

@{
    ViewData["Title"] = "Eliminar producto";
}

<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<h3>¿Está seguro de eliminar el producto?</h3>
<div>
    <hr />
    <dl class="row form-custom">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Marca.Nombre)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Marca.Rubro)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Marca.Rubro.Nombre)
        </dd>
    </dl>
    <hr />
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-1" role="group" aria-label="First group">
            <form asp-action="Eliminar">
                <input type="hidden" asp-for="ID" />
                <button style="display:inline-block" type="submit" class="custom-btn custom-danger"
                    onclick="return confirm('¿Está seguro de eliminar el producto?\r\nEs una acción irreversible.')">Eliminar</button>
            </form>
        </div>
        <div class="btn-group" role="group" aria-label="Second group">
            <a href='javascript:history.go(-1)'>
                <button style="display:inline-block" class="custom-btn custom-warning">Atrás</button>
            </a>
        </div>
    </div>
</div>