@model Paginacion<Producto>

@{
    ViewData["Title"] = "Productos";
}
<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<br>
<form asp-action="Index" method="get">
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Buscar</span>
        </div>
        <input type="search" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            name="filter" value="@ViewData["CurrentFilter"]">
        &nbsp;
        <input type=image src="~/assets/search.gif" alt="Submit" width="20" height="20"> |
        <a asp-action="Index"><img src="~/assets/back.png" alt="Borrar búsqueda" width="20" height="20"></a>
    </div>
</form>
@{
    Html.BeginForm("BatchDelete", "Productos", FormMethod.Post, new { name = "tableForm" });
}
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th style="font-weight: normal;">
                <input type="checkbox" onClick="toggle(this)" />
            </th>
            <th>
                Código
            </th>
            </th>
            <th>
                Nombre
            </th>
            <th>
                Marca
            </th>
            <th>
                Rubro
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Resultado)
        {
            <tr>
                <td>
                    <input type="checkbox" name="deleteInputs" value="@item.ID" />
                </td>
                <td>
                    @item.Codigo
                </td>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Marca.Nombre
                </td>
                <td>
                    @item.Marca.Rubro.Nombre
                </td>
                <td>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-1" role="group" aria-label="First group">
                            <a asp-action="Detail" asp-route-ID="@item.ID">
                                <button type="button" class="custom-btn-sm custom-success">Detalle</button>
                            </a>
                            <a asp-action="Editar" asp-route-ID="@item.ID">
                                <button type="button" class="custom-btn-sm custom-warning">Editar</button>
                            </a>
                            <a asp-action="Eliminar" asp-route-ID="@item.ID">
                                <button type="button" class="custom-btn-sm custom-danger">Eliminar</button>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    Html.EndForm();
}

@*CÓDIGO PARA EL PAGINADOR DE REGISTROS*@
@if (Model.Resultado.Count() > 0)
{
    <span>
    <strong>@Model.TotalRegistros</strong> productos encontrados
</span>
    <span>&nbsp;|&nbsp;</span>
    <span>
    Página <strong>@(Model.PaginaActual)</strong> de
    <strong>@Model.TotalPaginas</strong>
</span>
    <span>&nbsp;|&nbsp;</span>
}
else
{
    <span>No hay resultados para esta búsqueda</span>
    <span>&nbsp;|&nbsp;</span>
}

@if (Model.PaginaActual > 1)
{
    @Html.ActionLink("<<", "Index", new { pagina = 1 },
new { @class = "btn btn-sm btn-default" })
    <span></span>
    @Html.ActionLink("Anterior", "Index", new { pagina = Model.PaginaActual - 1 },
new { @class = "btn btn-sm btn-default" })
}
else
{
    @Html.ActionLink("<<", "Index", new { pagina = 1 },
new { @class = "btn btn-sm btn-default disabled" })
    <span></span>
    @Html.ActionLink("Anterior", "Index", new { pagina = 1 },
new { @class = "btn btn-sm btn-default disabled" })
}
<span></span>
@if (Model.PaginaActual < Model.TotalPaginas)
{
    @Html.ActionLink("Siguiente", "Index", new { pagina = Model.PaginaActual + 1 },
new { @class = "btn btn-sm btn-default" })
    <span></span>
    @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
new { @class = "btn btn-sm btn-default" })
}
else
{
    @Html.ActionLink("Siguiente", "Index", new { pagina = Model.TotalPaginas - 1 },
new { @class = "btn btn-sm btn-default disabled" })
    <span></span>
    @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
new { @class = "btn btn-sm btn-default disabled" })
}
<br>
<br>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-1" role="group" aria-label="First group">
        <a asp-action="Alta">
            <button style="display:inline-block" class="custom-btn custom-success">Crear nuevo
            </button></a>
    </div>
    <div class="btn-group mr-1" role="group" aria-label="Second group">
        <a href="javascript:(function(){document.tableForm.submit();return void(0);})()">
            <button style="display:inline-block" class="custom-btn custom-danger">Borrar selección</button>
        </a>
    </div>
    <div class="btn-group" role="group" aria-label="Third group">
        <a href='javascript:history.go(-1)'>
            <button style="display:inline-block" class="custom-btn custom-warning">Atrás</button>
        </a>
    </div>
</div>


<script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('deleteInputs');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>