@model KioskoFacturacion.Web.Models.Marca
@{
    ViewData["Title"] = "Nueva marca";
}
<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<br>
<form asp-action="Guardar" method="post">
    <div class="form-row form-custom">
        <div class="form-group col-md-6">
            <label asp-for="Nombre" class="label-control"></label>
            <input asp-for="Nombre" class="form-control" autofocus>
            <p class="text-danger">
                @ViewBag.Message
                @TempData["ErrorMessage"]
            </p>
        </div>
        <br>
        <div class="form-group col-md-3">
            <label for="estado">Estado</label>
            <select id="estado" name="estado" class="form-control">
                <option selected>Activo</option>
                <option>Inactivo</option>
            </select>
        </div>
        <br>
        <div class="form-group col-md-3">
            @Html.Label("Rubro") <button type="submit" class="btn btn-sm" formaction="CrearRubro" value="RubroNuevo">
                <img src="~/assets/add.png" alt="Menú inicio" width="10" height="10"></button>
            @Html.DropDownList("RubroID", ViewBag.RubrosList, "Elegir el rubro", new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.RubroID, "", new { @class = "text-danger"})
        </div>
    </div>
    <hr>
    <span style="display: inline;">
        <br>
        <button type="submit" class="custom-btn custom-success">Guardar</button>
        <a href='javascript:history.go(-1)'><button type="button" class="custom-btn custom-warning">Atrás</button></a>
    </span>
</form>