@model KioskoFacturacion.Web.Models.Marca

@{
    ViewData["Title"] = "Eliminar marca";
}
<hr>
<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<h3>¿Está seguro de eliminar la marca?</h3>
<div>
    <hr />
    <dl class="row form-custom">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Rubro)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Rubro.Nombre)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger-success" />
        <a asp-controller="Marcas" asp-action="Index">
            <button type="button" class="btn btn-warning">Atrás</button>
        </a>
    </form>
</div>