@model PaginatedList<KioskoFacturacion.Web.Models.Marca>

@{
    ViewData["Title"] = "Marcas";
}
<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<form asp-action="Index" method="get">
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Buscar</span>
        </div>
        <input type="search" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            name="filter" value="@ViewData["CurrentFilter"]" autofocus>
        &nbsp;
        <input type=image src="~/assets/search.gif" alt="Submit" width="20" height="20"> |
        <a asp-action="Index"><img src="~/assets/back.png" alt="Borrar búsqueda" width="20" height="20"></a>
    </div>
</form>
@{
    Html.BeginForm("BatchDelete", "Marcas", FormMethod.Post, new { name = "tableForm" });
}
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th style="font-weight: normal;">
                <input type="checkbox" onClick="toggle(this)" />
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]" class="custom-table">Nombre</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RubroSortParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]" class="custom-table">Rubro</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StateSortParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]" class="custom-table">Estado</a>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="deleteInputs" value="@item.ID" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rubro.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-1" role="group" aria-label="First group">
                            <a asp-action="Detail" asp-route-ID="@item.ID">
                                <button type="button" class="custom-btn-sm custom-success">Detalle</button>
                            </a>
                            <a asp-action="Edit" asp-route-ID="@item.ID">
                                <button type="button" class="custom-btn-sm custom-warning">Editar</button>
                            </a>
                            <a asp-action="Delete" asp-route-ID="@item.ID">
                                <button type="button" class="custom-btn-sm custom-danger">Eliminar</button>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    Html.EndForm();
}


@*Paginacion*@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default @prevDisabled">
    << Anterior </a>
        @(Model.PageIndex) de @(Model.TotalPages)
        <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-default @nextDisabled">
            Siguiente >>
        </a>
        <br>
        <br>

        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-1" role="group" aria-label="First group">
                <a asp-action="Create">
                    <button style="display:inline-block" class="custom-btn custom-success">Crear nuevo
                    </button></a>
            </div>
            <div class="btn-group mr-1" role="group" aria-label="Second group">
                <a href="javascript:(function(){document.tableForm.submit();return void(0);})()">
                    <button style="display:inline-block" class="custom-btn custom-danger">Borrar selección</button>
                </a>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <a href='javascript:history.go(-1)'>
                    <button style="display:inline-block" class="custom-btn custom-warning">Atrás</button>
                </a>
            </div>
        </div>
        <script language="JavaScript">
            function toggle(source) {
                checkboxes = document.getElementsByName('deleteInputs');
                for (var i = 0, n = checkboxes.length; i < n; i++) {
                    checkboxes[i].checked = source.checked;
                }
            }
        </script>