@model KioskoFacturacion.Web.Models.Rubro

@{
    ViewData["Title"] = "Editar rubro";
}

<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<br>
<div>
    <hr />
    <form asp-action="Actualizar" method="post">
        <div class="form-custom">
            <input type="hidden" asp-for="ID">
            <div class="form-group row">
                <div class="col-sm-1 col-form-label">
                    @Html.DisplayNameFor(model => model.Nombre)
                </div>
                <div class="col-sm-6">
                    <input type="text" asp-for="Nombre" class="form-control" onfocus="this.select();" autofocus>
                </div>
                <p class="text-danger">
                    @ViewBag.Message
                    @TempData["ErrorMessage"]
                </p>
            </div>
            <div class="form-group row">
                <div class="col-sm-1 col-form-label">
                    @Html.DisplayNameFor(model => model.Estado)
                </div>
                <div class="col-sm-6">
                    <select asp-for="Estado" class="form-control">
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />

        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-1" role="group" aria-label="First group">
                <button type="submit" value="Guardar" class="custom-btn custom-success">Guardar</button>
            </div>
            <div class="btn-group mr-1" role="group" aria-label="Second group">
                <a href='javascript:history.go(-1)'><button style="display:inline-block" type="button"
                        class="custom-btn custom-warning">Atrás</button></a>
            </div>
        </div>
    </form>
</div>