@model IEnumerable<Rubro>
@{
        ViewData["Title"] = "Rubros";
}

<div class="container text-center">
        <h1>@ViewData["Title"]</h1>
</div>
<form asp-action="Index" method="get">
        <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Buscar</span>
                </div>
                <input type="search" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                        name="filter" value="@ViewData["CurrentFilter"]">
                &nbsp;
                <input type=image src="~/assets/search.gif" alt="Submit" width="20" height="20"> |
                <a asp-action="Index"><img src="~/assets/back.png" alt="Borrar búsqueda" width="20" height="20"></a>
        </div>
</form>
@{
        Html.BeginForm("BatchDelete", "Rubros", FormMethod.Post, new { name = "tableForm" });
}
<table class="table table-sm table-hover">
        <thead>
                <tr>
                        <th style="font-weight: normal;">
                                <input type="checkbox" onClick="toggle(this)" />
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.Estado)
                        </th>
                        <th>
                        </th>
                </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                        <tr>
                                <td>
                                        <input type="checkbox" name="deleteInputs" value="@item.ID" />
                                </td>
                                <td>
                                        @item.Nombre
                                </td>
                                <td>
                                        @item.Estado
                                </td>
                                <td>
                                        <a asp-action="Edit" asp-route-ID="@item.ID">
                                                <button type="button" class="btn btn-warning btn-sm">Editar</button>
                                        </a>
                                        <a asp-action="Delete" asp-route-ID="@item.ID">
                                                <button type="button" class="btn btn-danger-success btn-sm">Eliminar</button>
                                        </a>
                                </td>
                        </tr>
                }
        </tbody>
</table>
@{
        Html.EndForm();
}
<div>
        <a asp-action="Create">
                <button style="display:inline-block" class="btn btn-success-custom">Crear nuevo
                </button></a>
        <a href="javascript:(function(){document.tableForm.submit();return void(0);})()">
                <button style="display:inline-block" class="btn btn-danger-success">Borrar selección</button>
        </a>
        <a asp-controller="Home" asp-action="Gestion">
                <button type="button" class="btn btn-warning">Atrás</button>
        </a>
</div>

<script language="JavaScript">
        function toggle(source) {
                checkboxes = document.getElementsByName('deleteInputs');
                for (var i = 0, n = checkboxes.length; i < n; i++) {
                        checkboxes[i].checked = source.checked;
                }
        }
</script>