@model IEnumerable<Rubro>

@{
    ViewData["Title"] = "Rubros";
}

<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<p>
    <a asp-action="Nuevo">Crear nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Estado
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Estado
                </td>
                <td>
                    <a asp-action="Editar" asp-route-ID="@item.ID">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
